

<link rel="stylesheet" href="~/css/Login.css" />
<div class="overlay">

    <!-- LOGN IN FORM by Omar Dsoky -->
    <form>
        <!--   con = Container  for items in the form-->
        <div class="con">
            <!--     Start  header Content  -->
            <header class="head-form">
                <h2>Log In</h2>
                <!--     A welcome message or an explanation of the login form -->
                <p>Inicie sesión ingresando Email y Contraseña</p>
            </header>
            <!--     End  header Content  -->
            <br>
            <div class="field-set">

                <!--   user name -->
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
                <!--   user name Input-->

                <input class="form-input" id="txt-input" type="text" placeholder="Email" required>

                <br>

                <!--   Password -->

                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <!--   Password Input-->
                <input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required>

                <!--      Show/hide password  -->
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                </span>


                <br>
                <!--        buttons -->
                <!--      button LogIn -->
                <a href="@Url.Action("Login", "Login")" class="btn btn-light">Iniciar Sesion</a>
                @* <button class="log-in"> Iniciar Sesion </button> *@@* MANDAR USUARIO *@
            </div>

            <!--   other buttons -->
            <div class="other">
                <!--      Forgot Password button-->
                <a  class="btn submits frgt-pass">Olvide mi contraseña</a>
                @* <button class="btn submits frgt-pass">Olvide mi contraseña</button> *@
                <!--     Sign Up button -->
                <a  class="btn btn-light">Registrarte</a>

                @* <button  class="btn submits sign-up">
                Registrate  *@  @* REGISTRO *@
                <!--         Sign Up font icon -->
                @*    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button>  *@
                <!--      End Other the Division -->
            </div>

            <!--   End Conrainer  -->
        </div>

        <!-- End Form -->
    </form>
</div>

@section Scripts {
    <script>


        // Show/hide password onClick of button using Javascript only

        // https://stackoverflow.com/questions/31224651/show-hide-password-onclick-of-button-using-javascript-only

        function show() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'text');
        }

        function hide() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'password');
        }

        var pwShown = 0;

        document.getElementById("eye").addEventListener("click", function () {
            if (pwShown == 0) {
                pwShown = 1;
                show();
            } else {
                pwShown = 0;
                hide();
            }
        }, false);


    </script>
}
